<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
</head>
<body>
    <header>
        <nav>
            <a href="/clothes">clothes</a>
            <a href="/jacket">jacket</a>
            <a href="/shoes">shoes</a>
        </nav>
    </header>

    <section>
        <div>
            {% block content %} {% endblock %}
        </div>
        <p>стоимость: {% block cost %} {% endblock %}</p>
    </section>

    <footer>
        <p>Наши контакты: СПб, ________</p>

    </footer>
</body>
</html>